.mainPage {
    display: grid;
    background-image: url("/img/sky-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    padding: 5rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(max-content, 40rem));
    justify-content: center;
}
.cell {
    background-color: var(--color-white);
    box-shadow: var(--box-shadow-3);
    border-radius: 2rem;
    height: 30rem;
    display: grid;
    grid-template-rows: min-content 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: flex-start;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    &__index {
        width: 100%;
        grid-column: 1/5;
        font-size: 3rem;
        cursor: pointer;
    }
    &__index:hover ~ &__item > &__input {
        color: gray;
    }
    &__item {
        &.hatala{
            background-image: url("/img/chick-1.png") ;
        }
        &.bekia{
            background-image: url("/img/chick-2.png") ;
        }
        &.hafrada{
            background-image: url("/img/chick-3.png") ;
        }
        &.parrot{
            background-image: url("/img/parrots.gif") ;
        }
        background-size: 1em;
        background-position: center;
        background-repeat: no-repeat;
        display: grid;
        align-items: center;
        justify-items: center;
        gap: 1rem;
        font-size: 2.8rem;
        position: relative; 
        border: 1px dotted var(--color-non-active);
        border-radius: 1rem;
        padding: .5rem;
    }
    &__mark {
        position: absolute;
        top: 0;
        transform: translateY(-80%);
        width: 4rem;
        height: 4rem;
        color: var( --color-red);
    }
    &__caption {
        color: cornflowerblue;
        padding: 1rem;
        border-radius: 1rem;
        cursor: pointer;
        transition: all 0.2s ease-in;
        position: relative;
        &:hover {
            text-decoration: underline;
        }
    }
    &__value {
        width: 100%;
        cursor: pointer;
        &:hover {
            border: 1px dotted lightgray;
            color: gray;
        }
    }
    &__input {
        border-bottom: 1px solid lightgray;
        border-radius: 0.5rem;
        color: cornflowerblue;
        text-align: center;
    }
    &__buttons {
        grid-column: 1/5;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
        gap: 0.4rem;
        align-content: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    &__action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
            font-size: 1.6rem;
            color: var(--color-non-active);
        }
    }
    &__button {
        background-color: cornflowerblue;
        color: white;
        border-radius: 1rem;
        font-size: 3rem;
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
            transform: translateY(-0.4rem);
            box-shadow: 0 1rem 4rem 0 lightgrey;
        }
        &:active {
            transform: translateY(0);
            box-shadow: none;
        }
    }
}
