$dir: rtl;
$start: right;
$end: left;

:root {
  //LANGUGE
  --dir: #{$dir};
  --lang: "he";

  // COLORS
  --color-bg-layout: #ecf0f6;
  --color-bg-1: #d3d3d3a1;
  --color-bg-2: #d3d3d380;
  --color-bg-3: #ecf0f661;

  --color-non-active: #a2a2c4;
  --color-txt-p: #234aa9;
  --color-txt-p-light: #2349a99f;
  --color-txt-p-trs: #2349a94d;
  --color-txt-p-dark: #333666;

  --color-bg-dark: cornflowerblue;
  --color-bg-dark-1: #333666;

  --color-red: #eb2f64;
  --color-red-trs: #ea2e6399;

  --color-gray: #222;
  --color-gray-1: #888;
  --color-gray-2: #d3d3d3;

  --color-white: #fff;
  --color-black: #000;

  // FONTS
  --def-font-size: 1.6rem;
  --def-font-family: Rubik, "Tahoma", sans-serif;
  --font-family-1: var(--def-font-family);
  --font-family-2: Alef, "Tahoma", sans-serif;
  --font-w-1: 300;
  --font-w-2: 400;
  --font-w-3: 700;

  // BLOCKS
  --box-shadow-light: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  --box-shadow-1: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  --box-shadow-2: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  --box-shadow-3: 0.1rem 0.9rem 2rem rgba(0, 0, 0, 0.4);
}
/* GLOBAL RESET */
* {
  padding: 0;
  margin: 0;
  &,
  &::before,
  &::after {
    font-size: 62.5%;
    box-sizing: border-box;
    @media only screen and (max-width: 1200px) {
      font-size: 56.25%;
    }
    @media only screen and (max-width: 320px) {
      font-size: 50%;
    }
    @media only screen and (min-width: 1200px) {
      font-size: 75%;
    }
  }
}
body {
  direction: rtl;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--def-font-size);
  line-height: 1.8;
  user-select: none;
}
input,
button {
  font: inherit;
  border: none;
  outline: none;
  font-size: 1.8rem;
  border-radius: 2rem;
  padding: 1.5rem;
  width: 100%;
}
label {
  font-size: 1.6rem;
}
.logo {
  width: 8rem;
  position: absolute;
  z-index: 1;
  top: 1rem;
  right: 1rem;
}
